<template name="about">
<div class="body">
<div class="container pageOther">
<div class="row">
  <div class="card-body">
    <div class="card card-accueil">
     <div class="text-center">
          <h3>About</h3>
          <hr class="">
     </div>
        <p class="section-description">
            There are many and many PHP analysis tools available in open source.
        </p>
        <p class="section-description">
           We offer an analyzer to test your project, hosted on Git, thanks to several analysis tools that we have selected and merged.
        </p>
        <p class="section-description">
            The tools we use :
            <ul>
                <li>
                    <a href="https://github.com/sebastianbergmann/phploc" target="_blank">PHPLOC</a> - Utility to measures PHP application size and count various structures. 
                </li>
                <li>
                    <a href="https://github.com/wapmorgan/PhpCodeFixer" target="_blank">PHP Code FIXER</a> - Finds usage of deprecated functions and variables.
                </li>
                <li>
                    <a href="https://github.com/sebastianbergmann/phpcpd" target="_blank">PHPCPD</a> - Spots copy/pasted code, and help enforcing DRY rule.   
                </li>
                <li>
                    <a href="https://github.com/JakubOnderka/PHP-Parallel-Lint" target="_blank">PHP Parallel Lint</a> - A parallel php linting tool for PHP 5.3.3 or newer  
                </li>
            </ul>
        </p>
      <p class="section-description">
          To find all the latest CVE vulnerabilities :
          <a href="https://cve.circl.lu/" target="_blank">https://cve.circl.lu/</a>
        </p>
    </div>
  </div>
</div>
</div>
</div>




</template>
