<template name="home">
<div class="body">
<div class="container pageAccueil">
<div class="row">
  <div class="card-body">
    <div class="card card-accueil">
      <div class="text-center">
          <h3>Home</h3>
          <hr class="mt-2 mb-2">
        </div>
      <p class="texteAccueil">Test flaws and vulnerabilities of a project php Git</p>

      <form>
        <div class="div-form">
          <div class="md-form">
            <i class="fa fa-link prefix grey-text"></i>
            <input type="text" name="repository" id="repository" class="form-control"/>
            <label for="repository">Repository URL</label>
          </div>
        </div>

        <div class="div-form">
          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" name="email" id="email" class="form-control"/>
            <label for="email">Email</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary waves-effect waves-light">Analize</button>
      </form>
    </div>
  </div>
</div>
</div>
</div>
    
</template>
